:root {
  --yellow: #72829e;
  --orange: #4d67d2;
  --black: #242d49;
  --gray: #788097;
  --blueCard: #ddf8fe;
  --purple: rgb(238 210 255);
  --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
  --orangeCard: rgba(31, 71, 252, 0.45);
  --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
}

.App {
  padding: 0.5rem 3.5rem;
  overflow: hidden;
  color: var(--black);
}

.button {
  background: linear-gradient(180deg, #fdc807 26.71%, #a38108 99.36%);
  box-shadow: 0px 20px 24px 3px rgba(217, 224, 15, 0.22);
  border-radius: 34px;
  border: none;
  color: white;
  font-size: 16px;
  padding: 11px 26px 11px 26px;
}

.button:hover {
  background: white;
  cursor: pointer;
  border: 1px solid var(--orange);
  color: var(--orange);
}
@media screen and (max-width: 480px) {
  .App {
    padding: 0.5rem 2rem;
  }
  .i-right {
    display: block;
  }
}
@media screen and (max-width: 820px) {
  .n-right {
    display: none !important;
  }
}
@media screen and (max-width: 1000px) {
  .contact-button {
    display: none !important;
  }
}
